@model OnlinePizzaRestaurantWebApp.Models.DashboardMV
@{
    ViewBag.Title = "Dashboard";
}

<!-- Breadcrumb Start -->
<div class="bread-crumb">
    <div class="container">
        <div class="matter">
            <h2>Dashboard</h2>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="@Url.Content("~/Home/Index")">HOME</a></li>
                <li class="list-inline-item"><a href="#">Dashboard</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Deshboard Start -->
<div class="dashboard">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 commontop text-center">
                <h4>User Dashboard</h4>
                <div class="divider style-1 center">
                    <span class="hr-simple left"></span>
                    <i class="icofont icofont-ui-press hr-icon"></i>
                    <span class="hr-simple right"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 user-profile">
                <div class="row">
                    <div class="col-md-3 col-lg-2">
                        <div class="user-profile-tabs">
                            <!--  Menu Tabs Start  -->
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#overview" aria-expanded="true">
                                        <i class="icofont icofont-dashboard-web"></i>
                                        <span>Overview</span>
                                    </a>
                                </li>
                                <li id="navprofile" class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile" aria-expanded="true">
                                        <i class="icofont icofont-ui-user"></i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#history" aria-expanded="true">
                                        <i class="icofont icofont-history"></i>
                                        <span>History</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#cards" aria-expanded="true">
                                        <i class="icofont icofont-credit-card"></i>
                                        <span>My Card</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#complaint" aria-expanded="true">
                                        <i class="icofont icofont-support-faq"></i>
                                        <span>Complaint</span>
                                    </a>
                                </li>

                            </ul>
                            <!--  Menu Tabs Start  -->
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-10">
                        <div class="tab-content">
                            <div id="overview" class="tab-pane fade active show">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="brief-info">
                                            <div class="media">
                                                @if (string.IsNullOrEmpty(Model.ProfileMV.PhotoPath))
                                                {
                                                    <img class="mr-3" src="~/Content/Template/assets/images/lines.png" style="width:100px;height:150px;max-width: 100%; height: auto;" alt="User">
                                                }
                                                else
                                                {
                                                    <img class="mr-3" src="@Url.Content(Model.ProfileMV.PhotoPath)" style="width:100px;height:150px;max-width: 100%; height: auto;" alt="User">
                                                }
                                                <div class="media-body">
                                                    <h4>@Model.ProfileMV.FullName</h4>
                                                    <p><i class="icofont icofont-envelope"></i> @Model.ProfileMV.EmailAddress</p>
                                                    <p><i class="icofont icofont-phone"></i> @Model.ProfileMV.ContactNo</p>
                                                    @*@if (Model.ProfileMV.UserStatusID == 1 || Model.ProfileMV.UserStatusID == 6)
                                                    {
                                                        <p class="confirmed"><i class="icofont icofont-check"></i>@Model.ProfileMV.UserStatus</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="failed"><i class="icofont icofont-close"></i>@Model.ProfileMV.UserStatus</p>
                                                    }*@
                                                </div>
                                            </div>
                                            <div class="brief-info-footer" style="background-color: #e54c2a">
                                                <p style="font-size:medium; text-align:center;">  <i class="icofont icofont-ui-user"></i>@Model.ProfileMV.UserType </p>
                                            </div>
                                        </div>
                                    
                                        <div class="most-recent-order">
                                            <h5>Recent Orders</h5>
                                            @foreach (var order in @Model.AllOrders)
                                            {
                                                <div class="field-entry">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <p>PIR-@order.OrderID</p>
                                                        </div>
                                                        <div class="col">
                                                            @if (order.OrderStatusID <= 4)
                                                            {
                                                                <p class="confirmed"><i class="icofont icofont-check"></i>@order.OrderStatus</p>
                                                            }
                                                            else if (order.OrderStatusID >= 5)
                                                            {
                                                                <p class="failed"><i class="icofont icofont-close"></i>@order.OrderStatus</p>
                                                            }
                                                        </div>
                                                        <div class="col text-right">
                                                            <a href="#history">Detail</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    @if (Model.UserAddress.Count > 0)
                                    {

                                        <div class="col-lg-6">
                                            <div class="user-profile-offer">
                                                <h5>Registered Addresses <a href="@Url.Content("~/Setting/List_UserAddress?id=0")">More</a></h5>
                                                <div class="offer-body">
                                                    @foreach (var address in Model.UserAddress)
                                                    {
                                                        <div class="offer-entry">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4 align-self-center offer-left text-center">
                                                                    <p>@address.AddressType</p>
                                                                </div>
                                                                <div class="col-md-8 col-sm-8 offer-right">
                                                                    <p>@address.FullAddress <a href="@Url.Content("~/Setting/List_UserAddress?id="+address.UserAddressID+"")">Edit</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>

                            <div id="profile" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="user-personal-info">
                                            <h5>Personal Information</h5>
                                            <div class="user-info-body">
                                                @using (Html.BeginForm("Dashboard", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            @Html.EditorFor(model => model.ProfileMV.FirstName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter First Name" } })
                                                            @Html.ValidationMessageFor(model => model.ProfileMV.FirstName, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            @Html.EditorFor(model => model.ProfileMV.LastName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter Last Name" } })
                                                            @Html.ValidationMessageFor(model => model.ProfileMV.LastName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-12">
                                                            @Html.EditorFor(model => model.ProfileMV.EmailAddress, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "Enter Email Address" } })
                                                            @Html.ValidationMessageFor(model => model.ProfileMV.EmailAddress, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-12">
                                                            @Html.EditorFor(model => model.ProfileMV.ContactNo, new { htmlAttributes = new { @class = "form-control", @type = "tel", @placeholder = "Enter Contact Number" } })
                                                            @Html.ValidationMessageFor(model => model.ProfileMV.ContactNo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-12">
                                                            @Html.EditorFor(model => model.ProfileMV.CNIC, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter CNIC No" } })
                                                            @Html.ValidationMessageFor(model => model.ProfileMV.CNIC, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-12">
                                                            @Html.EditorFor(model => model.ProfileMV.FullAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Current Address", @readonly=true } })
                                                            @Html.ValidationMessageFor(model => model.ProfileMV.FullAddress, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-12">
                                                            <label>Upload Photo</label>
                                                            <span class="btn btn-default btn-file">
                                                                @Html.TextBoxFor(model => model.ProfileMV.UserPhoto, new { @class = "upload-pic form-control-file", @type = "file" })
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group mb-0 pt-4 col-12 text-center">
                                                            <button class="btn btn-theme btn-md" type="submit">SAVE CHANGES</button>
                                                            <a class="btn btn-theme btn-md btn-wide" href="@Url.Content("~/User/Dashboard")">CANCEL</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="user-change-password">
                                            <h5>Change Password</h5>
                                            <div class="change-password-body">
                                                @using (Html.BeginForm("Dashboard", "User"))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-group">
                                                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Old Password" } })
                                                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group mb-0 pt-4 text-center">
                                                        <button class="btn btn-theme btn-md" type="submit">CHANGE PASSWORD</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        @if (Model.ProfileMV.UserTypeID != 3)
                                        {
                                            <div class="user-change-password mt-4">
                                                <h5>Education + Experence</h5>
                                                <div class="change-password-body">
                                                    @using (Html.BeginForm("Dashboard", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                @Html.EditorFor(model => model.ProfileMV.EducationLevel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Education Level" } })
                                                                @Html.ValidationMessageFor(model => model.ProfileMV.EducationLevel, "", new { @class = "text-danger" })
                                                                <span class="btn btn-default btn-file">
                                                                    @Html.TextBoxFor(model => model.ProfileMV.EducationLastDegreePhoto, new { @class = "upload-pic form-control-file", @type = "file" })
                                                                </span>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                @if (string.IsNullOrEmpty(Model.ProfileMV.EducationLastDegreePhotoPath))
                                                                {
                                                                    <label class="text-danger">Upload Last Degree</label>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Content(Model.ProfileMV.EducationLastDegreePhotoPath)">
                                                                        <img src="@Url.Content(Model.ProfileMV.EducationLastDegreePhotoPath)" style="width:100px;height:150px;max-width: 100%; height: auto;">
                                                                    </a>
                                                                }
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                @Html.EditorFor(model => model.ProfileMV.ExperenceLevel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Experience Field" } })
                                                                @Html.ValidationMessageFor(model => model.ProfileMV.ExperenceLevel, "", new { @class = "text-danger" })
                                                                <span class="btn btn-default btn-file">
                                                                    @Html.TextBoxFor(model => model.ProfileMV.ExperenceLastPhoto, new { @class = "upload-pic form-control-file", @type = "file" })
                                                                </span>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                @if (string.IsNullOrEmpty(Model.ProfileMV.ExperenceLastPhotoPath))
                                                                {
                                                                    <label class="text-danger">Upload Last Experience</label>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Content(Model.ProfileMV.ExperenceLastPhotoPath)">
                                                                        <img src="@Url.Content(Model.ProfileMV.ExperenceLastPhotoPath)" style="width:100px;height:150px;max-width: 100%; height: auto;">
                                                                    </a>
                                                                }
                                                            </div>
                                                        </div>

                                                        <div class="form-group mb-0 pt-4 text-center">
                                                            <button class="btn btn-theme btn-md" type="submit">Submit</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>
                            </div>

                            <div id="history" class="tab-pane fade">
                                @foreach (var order in Model.AllOrders)
                                {
                                    <div class="item-entry">
                                        <span class="order-id">Order ID: PIR-@order.OrderID</span>
                                        <div class="item-content">
                                            <div class="item-body">
                                                <div class="row">
                                                    <div class="col-md-8 col-sm-8 text-center">
                                                        <div class="row">
                                                            @foreach (var item in order.OrderDetails)
                                                            {

                                                                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-12">
                                                                    <div class="product-thumb">
                                                                        <div class="image">
                                                                            <a class="link" href="@Url.Content("~/Home/ProductDetail?itemid="+item.StockItemID)">
                                                                                <img src="@Url.Content("~/" + item.ItemPhotoPath)" alt="Food image" title="Food image" class="img-fluid" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="caption">
                                                                            <h4>@item.StockItemTitle (@item.ItemSize)</h4>
                                                                            <div class="price">Quantity : @item.Qty</div>
                                                                            <div class="price">Price : @item.UnitPrice</div>
                                                                            <p class="des">Item Cost : @(item.Qty * item.UnitPrice) </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>

                                                    <div class="col-md-4 col-sm-3 text-right">
                                                        @if (order.OrderStatusID == 1)
                                                        {
                                                            <p class="confirmed"><i class="icofont icofont-check"></i>@order.OrderStatus</p>
                                                            <button type="button" class="btn btn-theme btn-md" onclick="cancelOrder(@order.OrderID)">
                                                                <i class="icofont icofont-close-line"></i>Cancel
                                                            </button>
                                                        }
                                                        else if (order.OrderStatusID <= 4 && order.OrderStatusID >= 2)
                                                        {
                                                            <p class="confirmed"><i class="icofont icofont-check"></i>@order.OrderStatus</p>
                                                        }
                                                        else if (order.OrderStatusID >= 5)
                                                        {
                                                            <p class="failed"><i class="icofont icofont-close"></i>@order.OrderStatus</p>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-footer order-id" style="display: flex; justify-content: space-between;">
                                                <div style="align-content:start;"><strong>Order Date:</strong> @order.Order_DateTime.ToString("dd MMMM yyyy hh:mm:tt")</div>
                                                <div style="align-content:end;"><strong>Order Total Cost:</strong> @order.TotalCost</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="text-center load-more">
                                    <a class="btn btn-theme btn-md btn-wide" href="@Url.Content("~/Order/AllOrders")">LOAD MORE</a>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deshboard End -->

<script type="text/javascript">

    function cancelOrder(orderid) {
        var url = "/Order/Cancel_Order?orderid=" + orderid;
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: {},
            success: function (result) {
                if (result == true) {
                    location.reload();
                }
                else {
                    alert("Plz login and Try-Again!");
                }
            }
        });
    }
</script>